<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/list_header :: head"></head>
<div id="wrapper">
    <div th:replace="base/top_header" :: div></div>
    <div th:replace="base/left_menu" :: div></div>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Refund</a></li>
                                    <li class="breadcrumb-item active">Maker</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Refund (Maker)</h4>
                        </div>
                    </div>
                </div>
                <!-- end title -->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-primary">-->
<!--                                        <i class="fe-tag font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">3,947</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Total Transactions</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-warning">-->
<!--                                        <i class="fe-clock font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">624</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Pending Transactions</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-success">-->
<!--                                        <i class="fe-check-circle font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">3195</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Submitted Transactions</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-danger">-->
<!--                                        <i class="fe-trash-2 font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">128</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Rejected Transactions</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->
<!--                </div>-->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-lg-8"> <h4 class="header-title mb-4">Refund Maker</h4> </div>
                                <div class="col-lg-4 text-right">
                                    <a  data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">Filter <i class="mdi mdi-filter-variant font-20"></i></a>
                                </div>
                            </div>
                            <div class="row mb-3 collapse" id="filters">
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border" id="user_type" title="Select User Type" data-style="btn" data-dropup-auto="false">
                                        <option value="Personal">Personal</option>
                                        <option value="Business">Business</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <input class="form-control" type="email" placeholder="Enter Email Address">
                                </div>
                                <div class="col-md-3 mt-2">
                                    <input class="form-control" type="text" placeholder="Transaction Reference">
                                </div>
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border" id="paymentode"   title="Select Paymentmode" data-style="btn" data-dropup-auto="false">
                                        <option value="DCT">DCT</option>
                                        <option value="OMT">OMT</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border" id="currency"   title="Select Originating Currency" data-style="btn" data-dropup-auto="false">
                                        <option value="AUD">AUD</option>
                                        <option value="USD">USD</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <input class="form-control numbdecimal" type="tel" placeholder="Originating Amount" maxlength="10">
                                </div>
                            </div>
                            <div class="tablewrap table-responsive mb-4">
                                <table class="table text-center table-hover m-0 table-centered nowrap w-100 viewtable">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>User Type</th>
                                        <th>Txn Ref</th>
                                        <th>Email add</th>
                                        <th>Rem Name</th>
                                        <th>Bkg Dt Time</th>
                                        <th>Pay Mode</th>
                                        <th>Orig Cy</th>
                                        <th>Orig Amt</th>
                                        <th>Refund Fee</th>
                                        <th>Net Refund Amt</th>
                                        <th>Previous Queue</th>
                                        <th>Waive Charges</th>
                                        <th>Refund Eligible</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Personal</td>
                                        <td><a href="javascript:void(0);" data-target="#transactionreferencedetails" data-toggle="modal">Details</a></td>
                                        <td><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></td>
                                        <td>Anil Kumar</td>
                                        <td>08-12-2020 18:18</td>
                                        <td>DCT</td>
                                        <td>AUD</td>
                                        <td>600</td>
                                        <td>10</td>
                                        <td>590 </td>
                                        <td>Return </td>
                                        <td><input type="checkbox"></td>
                                        <td>Yes</td>
                                        <td>
                                            <select class="form-control selectpicker" data-size="5" title="Select Status">
                                                <option value="Completed">Completed</option>
                                                <option value="User Action">User Action</option>
                                                <option value="Reprocess">Reprocess</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="action-icon" title="Submit"> <i class="mdi mdi-check-bold font-24 text-success"></i></a>
                                            <a href="javascript:void(0);" class="action-icon" title="Reset"><i class="mdi mdi-refresh font-24 text-dark"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Personal</td>
                                        <td><a href="javascript:void(0);" data-target="#transactionreferencedetails" data-toggle="modal">Details</a></td>
                                        <td><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></td>
                                        <td>Anil Kumar</td>
                                        <td>08-12-2020 18:18</td>
                                        <td>DCT</td>
                                        <td>AUD</td>
                                        <td>600</td>
                                        <td>10</td>
                                        <td>590 </td>
                                        <td>Return </td>
                                        <td><input type="checkbox"></td>
                                        <td>Yes</td>
                                        <td>
                                            <select class="form-control selectpicker" data-size="5" title="Select Status">
                                                <option value="Completed">Completed</option>
                                                <option value="User Action">User Action</option>
                                                <option value="Reprocess">Reprocess</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="action-icon" title="Submit"> <i class="mdi mdi-check-bold font-24 text-success"></i></a>
                                            <a href="javascript:void(0);" class="action-icon" title="Reset"><i class="mdi mdi-refresh font-24 text-dark"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Personal</td>
                                        <td><a href="javascript:void(0);" data-target="#transactionreferencedetails" data-toggle="modal">Details</a></td>
                                        <td><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></td>
                                        <td>Anil Kumar</td>
                                        <td>08-12-2020 18:18</td>
                                        <td>DCT</td>
                                        <td>AUD</td>
                                        <td>600</td>
                                        <td>10</td>
                                        <td>590 </td>
                                        <td>Return </td>
                                        <td><input type="checkbox"></td>
                                        <td>Yes</td>
                                        <td>
                                            <select class="form-control selectpicker" data-size="5" title="Select Status">
                                                <option value="Completed">Completed</option>
                                                <option value="User Action">User Action</option>
                                                <option value="Reprocess">Reprocess</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="action-icon" title="Submit"> <i class="mdi mdi-check-bold font-24 text-success"></i></a>
                                            <a href="javascript:void(0);" class="action-icon" title="Reset"><i class="mdi mdi-refresh font-24 text-dark"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div> <!-- content -->
        <footer th:replace="base/footer :: footer"></footer>
        <div id="transactionreferencedetails" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-full-width">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Transaction Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body p-4">
                        Remitter Details <br>
                        Sending Bank Details
                    </div>
                </div>
            </div>
        </div>
        <!-- notification Modal -->
        <div th:replace="popup/notification :: notifymodal"></div>
    </div>

</div>
<div th:replace="base/script_table :: script"></div>
</body>
</html>