<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/list_header :: head"></head>
<div id="wrapper">
    <div th:replace="base/top_header" :: div></div>
    <div th:replace="base/left_menu" :: div></div>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Matched With Exception</a></li>
                                    <li class="breadcrumb-item active">Checker</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Matched With Exception (Checker)</h4>
                        </div>
                    </div>
                </div>
                <!-- end title -->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-primary">-->
<!--                                        <i class="fe-tag font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">3,947</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Total Transactions</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-warning">-->
<!--                                        <i class="fe-clock font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">624</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Pending Approval</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-success">-->
<!--                                        <i class="fe-check-circle font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">3195</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Approved Entries</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-danger">-->
<!--                                        <i class="fe-trash-2 font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">128</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Rejected Entries</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->
<!--                </div>-->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-lg-8"> <h4 class="header-title mb-4">Checker Matched with Excpetion</h4> </div>
                                <div class="col-lg-4 text-right">
                                    <a  data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">Filter <i class="mdi mdi-filter-variant font-20"></i></a>
                                </div>
                            </div>
                            <div class="row mt-2 mb-3 collapse" id="filters">
                                <div class="col-md-3 mt-1">
                                    <input class="form-control" type="email" placeholder="Enter Email address">
                                </div>
                                <div class="col-md-3 mt-1">
                                    <input class="form-control" type="text" placeholder="Enter Transaction Reference">
                                </div>
                                <div class="col-md-3 mt-1">
                                    <input class="form-control" type="text" placeholder="Enter Originating Currency">
                                </div>
                                <div class="col-md-3 mt-1">
                                    <input class="form-control" type="text" placeholder="Enter Originating Amount">
                                </div>
                                <div class="col-md-3 mt-1">
                                    <input class="form-control" type="text" placeholder="Enter Bank Reference">
                                </div>
                            </div>
                            <div class="tablewrap table-responsive">
                                <table class="table table-hover m-0 table-centered nowrap w-100 viewtable">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width: 72px;">Email add</th>
                                        <th style="width: 82px;">Txn Ref</th>
                                        <th style="width: 52px;">Orig Cy</th>
                                        <th style="width: 72px;">Orig Amt</th>
                                        <th style="width: 72px;">Rem Name</th>
                                        <th style="width: 82px;">Bank Ref</th>
                                        <th style="width: 52px;">Currency</th>
                                        <th style="width: 72px;">Amt Rec</th>
                                        <th style="width: 72px;">Ageing (Days)</th>
                                        <th style="width: 72px;">Status</th>
                                        <th style="width: 72px;">Action</th>
                                        <th style="width: 72px;">Other</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <th:block th:each="usertransaction : ${usertransactions}">
                                    <tr>
                                        <td style="width: 72px;">[[${usertransaction.email}]]</td>
                                        <td style="width: 82px;">[[${usertransaction.refId}]]</td>
                                        <td style="width: 52px;">[[${usertransaction.fromCurrencyCode}]]</td>
                                        <td style="width: 72px;">[[${usertransaction.transferAmount}]]</td>
                                        <td style="width: 72px;">[[${usertransaction.beneficiaryName}]]</td>
                                        <td style="width: 82px;">[[${usertransaction.bankRefNo}]]</td>
                                        <td style="width: 52px;">[[${usertransaction.toCurrencyCode}]]</td>
                                        <td style="width: 72px;">[[${usertransaction.amountReceived}]]</td>
                                        <td style="width: 62px;">[[${usertransaction.ageing}]]</td>
                                        <td th:if="${usertransaction.status=='USER_ACTION'}" style="width: 72px;font-weight: bold;" class="text-primary">User Action</td>
                                        <td th:if="${usertransaction.status=='BALANCE_AMT'}" style="width: 72px;font-weight: bold;" class="text-primary">Balance Amount</td>
                                        <td th:if="${usertransaction.status=='PROCESS'}" style="width: 72px;font-weight: bold;" class="text-primary">Process</td>
                                        <td th:if="${usertransaction.status=='REFUND'}" style="width: 72px;font-weight: bold;" class="text-primary">Refund</td>

                                        <td style="width: 72px;">
                                            <a th:href="@{/reconciliation/matchedentry/checkerapproved/}+${usertransaction.refId}" class="action-icon" title="Approve"> <i class="mdi mdi-check-bold font-24 text-success"></i></a>
                                            <a th:href="@{/reconciliation/matchedentry/checkerrejected/}+${usertransaction.refId}" class="action-icon" title="Reject"><i class="mdi font-24 mdi mdi-cancel text-danger "></i></a>
                                        </td>
                                        <td style="width: 72px;"><a href="javascript:void(0);" data-toggle="modal" th:data-id="${usertransaction.refId}" data-target="#viewtransaction" id="viewtransactionlink">View Transaction</a></td>
                                    </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!-- content -->
        <!-- footer -->
        <footer th:replace="base/footer :: footer"></footer>

        <div id="viewtransaction" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-full-width">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">View Transaction</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body p-4">
                        <h4 class="mb-2">Statement Details</h4>
                        <div class="table-responsive">
                            <table class="table table-striped mb-3">
                                <thead>
                                <tr>
                                    <th>Value Date</th>
                                    <th>Dr / Cr</th>
                                    <th>Currency	Amount</th>
                                    <th>Transaction Reference</th>
                                    <th>Bank Reference</th>
                                    <th>Account Name</th>
                                    <th>Classification</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="stmtvaluedate">8/4/2020</td>
                                    <td id="stmtaccounttype">CR</td>
                                    <td id="stmtcurrencyamount">AUD 1,000.00</td>
                                    <td id="stmttransid">AU123456789I</td>
                                    <td id="stmtbankrefid">CMS1234</td>
                                    <td id="stmtaccname">Anil Kumar</td>
                                    <td id="stmtclass">Fund Confimration</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4 class="mb-2">Selected Transaction</h4>
                        <div class="table-responsive">
                            <table class="table table-striped mb-2">
                                <thead>
                                <tr>
                                    <th>User Type</th>
                                    <th>Email address</th>
                                    <th>Remitter Name</th>
                                    <th>Transaction ref</th>
                                    <th>Booking Date</th>
                                    <th>Booking Time</th>
                                    <th>Originating Currency</th>
                                    <th>Originating Amount</th>
                                    <th>Disbursement Currency</th>
                                    <th>Disbursement Amount</th>
                                    <th>Payment mode code</th>
                                    <th>Receivemode Code</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="transuseracctype">Personal</td>
                                    <td id="transemail">xyz@gmail.com</td>
                                    <td id="transsendername">Anil Kumar</td>
                                    <td id="transtransid">12345672567</td>
                                    <td id="transbookeddate">8-Jul-20</td>
                                    <td id="transbookedtime">13:05</td>
                                    <td id="transfromcurrency">AUD</td>
                                    <td id="transfromamt">600</td>
                                    <td id="transdisbCurrency">INR</td>
                                    <td id="transdisbamt">30,000 </td>
                                    <td id="transpaymode">DCT</td>
                                    <td id="transrecmode">BAC</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="font-24 text-dark"> <strong>Status:</strong><span id="transstatus">  Refund </span></p>
                        <div class="text-center">
                            <input type="hidden" id="checkerreference_id" name="checkerreference_id" />
                            <button type="button" class="btn btn-success my-2" data-dismiss="modal" id="checkerapprove">Approve</button>
                            <button type="button" class="btn btn-danger my-2 mx-2" data-dismiss="modal" id="checkerreject">Reject</button>
                            <button type="button" class="btn my-2 btn-outline-dark" data-dismiss="modal">Cancel</button></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

        <!-- uploadfile Modal -->
        <div th:replace="popup/uploadfile :: uploadmodal"></div>
        <!-- viewtransaction Modal -->
        <!-- selecttransaction Modal -->
        <div th:replace="popup/selecttransaction :: selecttransmodal"></div>
        <!-- notification Modal -->
        <div th:replace="popup/notification :: notifymodal"></div>
        <!-- Confirm delete Modal -->
        <div th:replace="popup/confirmdelete :: confirmmodal"></div>
        <!-- Success Modal -->
        <div th:replace="popup/success :: successmodal"></div>
        <!-- General Success Modal -->
        <div th:replace="popup/generalsuccess :: generalmodal"></div>

    </div>
    <!-- content-page end -->
</div>
<div th:replace="base/script_table :: script"></div>
</body>

<script  th:src="@{/js/compliance.js}"></script>
</html>