<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="generalmodal" th:remove="tag">

    <div id="generalsuccess" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <i class="dripicons-checkmark h1 text-secondarycolor"></i>
                        <h4 class="mt-2 text-secondarycolor">Success!!</h4>
                        <button type="button" class="btn btn-outline-primary my-2" data-dismiss="modal">Continue</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>