<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Set Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/xdc-primary-icon.png}">
    <link rel="icon" type="image/png" sizes="16x16" media="(prefers-color-scheme: dark)" th:href="@{/img/xdc-inverted-primary-icon.png}">
    <link rel="shortcut icon" th:href="@{/img/xdc-primary-icon.png}">
    <!-- App css -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
    <!-- icons -->
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/override.css}">
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
</head>
<body class="loading authentication-bg authentication-bg-pattern">
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo text-center">
                                <img th:src="@{/img/xdc-payments-logo.png}" alt="XDC Payments" class="img-fluid">
                            </div>
                            <p class="text-muted mb-4 mt-3 text-center">Enter your OTP and password to activate your account.</p>
                        </div>
                        <form th:action="@{/create/password}" class="needs-validation" th:object="${passwordDTO}" method="post">
                            <div th:if="${confirmationMessage}" class="alert alert-success" role="alert" th:text=${confirmationMessage}></div>
                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>

                            <div class="form-group mb-3">
                                <label for="otp">OTP</label>
                                <input class="form-control" type="text" th:field="*{otp}" id="otp" name="*otp"  required="" placeholder="OTP">
                                <div class="invalid-feedback">
                                    Please provide a valid Email.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" th:field="*{password}" id="password" name="*password"  class="form-control" placeholder="Enter your password" required>
                                    <div class="input-group-append" data-password="false">
                                        <div class="input-group-text">
                                            <span class="password-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="token" th:field="*{token}">
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit"> Submit </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/vendor.min.js}"></script>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
