<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/list_header :: head"></head>
<div id="wrapper">
    <div th:replace="base/top_header" :: div></div>
    <div th:replace="base/left_menu" :: div></div>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Unmatched Entries</a></li>
                                    <li class="breadcrumb-item active">Checker</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Unmatched Entries (Checker)</h4>
                        </div>
                    </div>
                </div>
                <!-- end title -->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-primary">-->
<!--                                        <i class="fe-tag font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">3,947</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Total Transactions</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-warning">-->
<!--                                        <i class="fe-clock font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">624</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Pending Approval</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-success">-->
<!--                                        <i class="fe-check-circle font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">3195</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Approved Entries</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->

<!--                    <div class="col-md-6 col-xl-3">-->
<!--                        <div class="widget-rounded-circle card-box">-->
<!--                            <div class="row">-->
<!--                                <div class="col-6">-->
<!--                                    <div class="avatar-lg rounded-circle bg-danger">-->
<!--                                        <i class="fe-trash-2 font-22 avatar-title text-white"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <div class="text-right">-->
<!--                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">128</span></h3>-->
<!--                                        <p class="text-muted mb-1 text-truncate">Rejected Entries</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end row&ndash;&gt;-->
<!--                        </div> &lt;!&ndash; end widget-rounded-circle&ndash;&gt;-->
<!--                    </div> &lt;!&ndash; end col&ndash;&gt;-->
<!--                </div>-->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-lg-8"> <h4 class="header-title mb-4">Checker Unmatched Entries</h4> </div>
                                <div class="col-lg-4 text-right">
                                    <a  data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">Filter <i class="mdi mdi-filter-variant font-20"></i></a>
                                </div>
                            </div>
                            <div class="row mb-3 collapse" id="filters">
                                <div class="col-md-3 mt-1">
                                    <select class="selectpicker show-tick border" id="acc_type" title="Select Account Type" data-style="btn" data-dropup-auto="false">
                                        <option value="Collection">Collection Account</option>
                                        <option value="Disbursement">Disbursement Account</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-1">
                                    <select class="selectpicker show-tick border" id="stmt_type" title="Select Statement Type" data-style="btn" data-dropup-auto="false">
                                        <option value="Interim">Interim</option>
                                        <option value="Final">Final</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-1">
                                    <select class="selectpicker show-tick border" id="currency"   title="Select Currency" data-style="btn" data-dropup-auto="false">
                                        <option value="AUD">AUD</option>
                                        <option value="USD">USD</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-1">
                                    <select class="selectpicker show-tick border"   title="Select Bank" data-style="btn" data-dropup-auto="false">
                                        <option value="Kotak">Kotak</option>
                                        <option value="HDFC">HDFC</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-1">
                                    <select class="selectpicker show-tick border"   title="Select Account Number" data-style="btn" data-dropup-auto="false">
                                        <option value="123123123">123123123</option>
                                        <option value="464646464564789">464646464564789</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-1">
                                    <input class="form-control numbdecimal" type="tel" placeholder="Amount From" maxlength="10">
                                </div>
                                <div class="col-md-3 mt-1">
                                    <input class="form-control numbdecimal" type="tel" placeholder="Amount To" maxlength="10">
                                </div>
                            </div>
                            <div class="tablewrap table-responsive">
                                <table class="table table-hover m-0 table-centered nowrap w-100 viewtable" id="scroll-horizontal-datatable">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width: 62px;">Value Dt</th>
                                        <th style="width: 62px;" class="final">Entry Dt</th>
                                        <th style="width: 62px;">Dr / Cr</th>
                                        <th style="width: 52px;">Currency</th>
                                        <th style="width: 72px;">Amt Rec</th>
                                        <th style="width: 82px;" class="interim">Txn Ref</th>
                                        <th style="width: 83px;" class="final">Cust Ref</th>
                                        <th style="width: 72px;">Bank Ref</th>
                                        <th style="width: 72px;" class="interim">Acc Name</th>
                                        <th style="width: 62px;" class="final">Supp Details</th>
                                        <th style="width: 72px;">Classification</th>
                                        <th style="width: 72px;" class="final">Type</th>
                                        <th style="width: 82px;">Txn Ref</th>
                                        <th style="width: 52px;">Orig Cy</th>
                                        <th style="width: 72px;">Orig Amt</th>
                                        <th style="width: 72px;">Action</th>
                                        <th style="width: 72px;">Other</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="collection">
                                        <td style="width: 62px;">8/4/2020</td>
                                        <td style="width: 62px;" class="final">8/4/2020</td>
                                        <td style="width: 62px;">Cr</td>
                                        <td style="width: 52px;">AUD</td>
                                        <td style="width: 72px;">1,000</td>
                                        <td style="width: 82px;" class="interim">AU123456789I</td>
                                        <td style="width: 82px;" class="final">NEFT INW KKBH34789095890</td>
                                        <td style="width: 72px;">CMS1234</td>
                                        <td style="width: 72px;" class="interim">Anil Kumar</td>
                                        <td style="width: 62px;" class="final">&nbsp;</td>
                                        <td style="width: 72px;font-weight: bold;" class="text-primary">Return Intimation</td>
                                        <td style="width: 72px;font-weight: bold;" class="text-primary final">Single Entry</td>
                                        <td style="width: 82px;font-weight: bold;" class="text-primary">AU123456789IN</td>
                                        <td style="width: 52px;font-weight: bold;" class="text-primary">INR</td>
                                        <td style="width: 72px;font-weight: bold;" class="text-primary">50,000.00</td>
                                        <td style="width: 72px;">
                                            <a href="javascript:void(0);" class="action-icon" title="Approve"> <i class="mdi mdi-check-bold font-24 text-success"></i></a>
                                            <a href="javascript:void(0);" class="action-icon" title="Reject"><i class="mdi font-24 mdi mdi-cancel text-danger"></i></a>
                                        </td>
                                        <td style="width: 72px;"><a href="javascript:void(0);" data-toggle="modal" data-target="#viewtransaction">View Transaction</a></td>
                                    </tr>
                                    <tr class="disbursement">
                                        <td style="width: 62px;">8/4/2020</td>
                                        <td style="width: 62px;" class="final">8/4/2020</td>
                                        <td style="width: 62px;">Cr</td>
                                        <td style="width: 52px;">AUD</td>
                                        <td style="width: 72px;">1,000</td>
                                        <td style="width: 82px;" class="interim">AU123456789I</td>
                                        <td style="width: 82px;" class="final">NEFT INW KKBH34789095890</td>
                                        <td style="width: 72px;">CMS1234</td>
                                        <td style="width: 72px;" class="interim">Anil Kumar</td>
                                        <td style="width: 62px;" class="final">&nbsp;</td>
                                        <td style="width: 72px;font-weight: bold;" class="text-primary">Return Intimation</td>
                                        <td style="width: 72px;font-weight: bold;" class="text-primary final">Single Entry</td>
                                        <td style="width: 82px;font-weight: bold;" class="text-primary">AU123456789IN</td>
                                        <td style="width: 52px;font-weight: bold;" class="text-primary">INR</td>
                                        <td style="width: 72px;font-weight: bold;" class="text-primary">50,000.00</td>
                                        <td style="width: 72px;">
                                            <a href="javascript:void(0);" class="action-icon" title="Approve"> <i class="mdi mdi-check-bold font-24 text-success"></i></a>
                                            <a href="javascript:void(0);" class="action-icon" title="Reject"><i class="mdi font-24 mdi mdi-cancel text-danger "></i></a>
                                        </td>
                                        <td style="width: 72px;"><a href="javascript:void(0);" data-toggle="modal" data-target="#viewtransaction">View Transaction</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->
        <!-- footer -->
        <footer th:replace="base/footer :: footer"></footer>

        <!-- uploadfile Modal -->
        <div th:replace="popup/uploadfile :: uploadmodal"></div>
        <!-- viewtransaction Modal -->
        <div th:replace="popup/viewtransaction :: viewtransmodal"></div>
        <!-- selecttransaction Modal -->
        <div th:replace="popup/selecttransaction :: selecttransmodal"></div>
        <!-- notification Modal -->
        <div th:replace="popup/notification :: notifymodal"></div>
        <!-- Confirm delete Modal -->
        <div th:replace="popup/confirmdelete :: confirmmodal"></div>
        <!-- Success Modal -->
        <div th:replace="popup/success :: successmodal"></div>
        <!-- General Success Modal -->
        <div th:replace="popup/generalsuccess :: generalmodal"></div>

    </div>
    <!-- content-page end -->
</div>
<div th:replace="base/script_table :: script"></div>
</body>
</html>