<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/list_header :: head"></head>
<div id="wrapper">
    <div th:replace="base/top_header" :: div></div>
    <div th:replace="base/left_menu" :: div></div>

    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Exchange Rate</a></li>
                                    <li class="breadcrumb-item active">View</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Exchange Rate</h4>
                        </div>
                    </div>
                </div>
                <!-- end title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-lg-8"> <h4 class="header-title mb-4">Exchange Rate List</h4> </div>
                                <div class="col-lg-4 text-right">
                                    <a  data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">Filter <i class="mdi mdi-filter-variant font-20"></i></a>
                                </div>
                            </div>
                            <div class="row mb-3 collapse" id="filters">
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border" id="user_type" title="Select Partner" data-style="btn" data-dropup-auto="false">
                                        <option value="Partner 1">Partner 1</option>
                                        <option value="Partner 2">Partner 2</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border"   title="Select Sending Country" data-style="btn" data-dropup-auto="false">
                                        <option value="Australia">Australia</option>
                                        <option value="India">India</option>
                                    </select>
                                </div>

                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border"   title="Select Sending Currency" data-style="btn" data-dropup-auto="false">
                                        <option value="AUD">AUD</option>
                                        <option value="USD">USD</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border"   title="Select Receive Country" data-style="btn" data-dropup-auto="false">
                                        <option value="Australia">Australia</option>
                                        <option value="India">India</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mt-2">
                                    <select class="selectpicker show-tick border"   title="Select Receiving Currency" data-style="btn" data-dropup-auto="false">
                                        <option value="AUD">AUD</option>
                                        <option value="USD">USD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tablewrap table-responsive">
                                <table class="table table-hover m-0 table-centered nowrap w-100 viewtable" id="scroll-horizontal-datatable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th><input type="checkbox" name="selectall" id="selectall"></th>
                                            <th>Sending Country</th>
                                            <th>Sending Currency</th>
                                            <th>Receive Country</th>
                                            <th>Receive Currency</th>
                                            <th>Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Australia</td>
                                            <td>AUD</td>
                                            <td>India</td>
                                            <td>INR</td>
                                            <td>59.9</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>United States</td>
                                            <td>USD</td>
                                            <td>India</td>
                                            <td>INR</td>
                                            <td>33.8</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Enable  below only for checker -->
                                <div class="text-center mt-3">
                                    <button type="button" class="btn btn-success my-2">Approve</button>
                                    <button type="button" class="btn btn-danger my-2 ml-3">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->
        <!-- footer -->
        <footer th:replace="base/footer :: footer"></footer>
        <!-- transactionreferencedetails Modal -->
        <div id="transactionreferencedetails" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-full-width">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Transaction Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body p-4">
                        Remitter Details <br>
                        Sending Bank Details
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- notification Modal -->
        <div th:replace="popup/notification :: notifymodal"></div>
    </div>
    <!-- content-page end -->

</div>
<div th:replace="base/script_table :: script"></div>
</body>
</html>