<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Remittance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="robots" content="noimageindex">
    <link rel="icon" type="image/png" th:href="@{/img/xdc-primary-icon.png}">
    <link rel="icon" type="image/png" media="(prefers-color-scheme: dark)" th:href="@{/img/xdc-inverted-primary-icon.png}">
    <link rel="shortcut icon" th:href="@{/img/xdc-primary-icon.png}">
    <link th:href="@{/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/libs/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/override.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <script>
        function redirect(url) {
            window.location.href=url;
        }
    </script>
</head>
<body class="loding">