<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/header :: head"></head>
<div id="wrapper">
    <div th:replace="base/top_header" :: div></div>
    <div th:replace="base/left_menu" :: div></div>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Masters</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Location</a></li>
                                    <li th:if="${location.id == null}" class="breadcrumb-item active"><a href="/location/list">Add Location</a></li>
                                    <li th:if="${location.id != null}" class="breadcrumb-item active">Edit Location</li>
                                </ol>
                            </div>
                            <h4 class="page-title" th:if="${location.id == null}">Add Location</h4>
                            <h4 class="page-title" th:if="${location.id != null}">Edit Location</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <form action="#" th:action="@{/location/create}" th:object="${location}" method="post" class="needs-validation" novalidate autocomplete="off">
                    <div th:if="${confirmationMessage}" class="alert alert-success" role="alert" th:text=${confirmationMessage}></div>
                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">General Details</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="locationName" class="col-form-label">Location Name</label>
                                            <input type="text" th:field="*{locationName}" class="form-control"
                                                   id="locationName" placeholder="Location Name" minlength="2" maxlength="70" required>
                                            <div class="invalid-feedback">
                                                Enter Location Name
                                            </div>
                                        </div>
                                        <input type="hidden" id="id" th:field="*{id}">
                                    </div>
                                    <div class="col-md-6" th:if="${id != null}">
                                        <div class="form-group mt-3">
                                            <label class="mr-2">Status</label>
                                            <label for="publish" class="checkboxtoggle pt-2">
                                                <input type="checkbox" id="publish" th:field="*{publish}" class="checkbox_input" checked>
                                                <div class="checkboxtoggle_fill"></div>
                                            </label>
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" th:if="${id == null}">
                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit"> Add Location</button>
                    </div>
                    <div class="text-center" th:if="${id != null}">
                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit"> Update Location</button>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="base/footer :: footer"></footer>
    </div>
</div>
</body>
<script th:src="@{/js/vendor.min.js}"></script>
<script  th:src="@{/libs/bootstrap-select/js/bootstrap-select.min.js}"></script>
<!-- App js -->
<script  th:src="@{/js/app.min.js}"></script>
<script  th:src="@{/js/custom.js}"></script>
</html>